--- 
layout: default
---

<div id="mobile-menu-open" class="shadow-large">
    <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<!-- End #mobile-menu-toggle -->
<header>
    <div id="mobile-menu-close">
        <span>Close</span>
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <ul id="menu" class="shadow">
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#experience">Experience</a>
        </li>
        <li>
            <a href="#education">Education</a>
        </li>
        <li>
            <a href="#projects">Projects</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</header>
<!-- End header -->

<div id="lead">
    <div id="lead-content">
        <h1>Christopher Gozdziewski</h1>
        <h2>Software Developer</h2>
        <a href="docs/resume.pdf" target="_blank" class="btn-rounded-white">Download Resume</a>
    </div>
    <!-- End #lead-content -->

    <div id="lead-overlay"></div>

    <div id="lead-down">
        <span>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </span>
    </div>
    <!-- End #lead-down -->
</div>
<!-- End #lead -->

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="heading">About Me</h2>
            </div>
            <div class="col-md-8">
                <ul>
                    <li>
                        Self-motivated, passionate senior level developer with experience in enterprise-level product development lifecycles.
                    </li>
                    <li>
                        Acknowledged for being innovative and resourceful in the work place.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End #about -->

<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        <div data-date="January 2020 - Current">
            <h3>Johnson Controls</h3>
            <h4>Senior Software Engineer</h4>
            <ul>
                <li>Developed an automated integration test infrastructure using Octopus Deploy to provide automated API tests that can be run against any test environment.</li>
                <li>Switched to working remotely due to COVID-19 while still finding ways to increase communication through Microsoft Teams with teams in Milwaukee and India.</li>
                <li>Worked with UX and product management to plan and design features and work stories for the next product release cycle.</li>
            </ul>
            <ul class="skills-used">
                <li>C#</li>
                <li>SQL Server</li>
                <li>AngularJS</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Git</li>
            </ul>
        </div>

        <div data-date="June 2018 - January 2020">
            <h3>Johnson Controls</h3>
            <h4>Software Engineer II</h4>
            <ul>
                <li>Technical lead for a full stack development team of four developers and a tester.</li>
                <li>Worked together with two Milwaukee teams and six teams in India to develop multiple releases of Metasys UI.</li>
                <li>Designed and developed multiple .NET Core micro services with a SQL backend and AngularJS frontend that allowed customers to get an overview of the cyber security of their system and the ability to create and customize objects in the system.</li>
                <li>Worked on a core logging system using Elasticsearch and Kibana to manage logs from multiple microservices.</li>
            </ul>
            <ul class="skills-used">
                <li>C#</li>
                <li>SQL Server</li>
                <li>AngularJS</li>
                <li>Elasticsearch</li>
                <li>Kibana</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>

        <div data-date="June 2016 - June 2018">
            <h3>Peace Corps</h3>
            <h4>Education Volunteer</h4>
            <p>Primary Project</p>
            <ul>
                <li>Taught High School math in Liberia, Africa to 250+ students per year.</li>
            </ul>
            <p>Secondary Projects</p>
            <ul>
                <li>Deployed
                    <a href="http://ka-lite.readthedocs.io/en/latest/index.html">Khan Academy</a> to 30 Raspberry PIs for use in classrooms around the country to help students watch
                    educational math and science videos without electricity.</li>
                <li>Taught a class of Programming in Java and Web Design in HTML/CSS.</li>
            </ul>
        </div>

        <div data-date="April 2015 - June 2016">
            <h3>SafeNet Consulting</h3>
            <h4>Software Development Consultant</h4>
            <ul>
                <li>Provided custom application development and product management advice for clients in Milwaukee.</li>
                <li>Consulted with clients to think differently about development challenges, reshaping customer experiences, and seeing the larger picture.</li>
                <li>Worked on a 1-year contract with Johnson Controls to further develop the flagship product Metasys UI.</li>
            </ul>
            <ul class="skills-used">
                <li>C#</li>
                <li>SQL Server</li>
                <li>AngularJS</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Git</li>
            </ul>
        </div>

        <div data-date="December 2014 - April 2015">
            <h3>Brady Corporation</h3>
            <h4>Technical Intern</h4>
            <ul>
                <li>Helped design, develop, and test Web APIs written in NodeJS related to user and product management.</li>
                <li>Developed features and fixed bugs for an internal Xamarin Forms application to track and manage inventory in a warehouse.
                </li>
            </ul>
            <ul class="skills-used">
                <li>Node.js</li>
                <li>NoSQL</li>
                <li>AngularJS</li>
            </ul>
        </div>

        <div data-date="April 2012 - December 2014">
            <h3>Johnson Controls</h3>
            <h4>Technical Intern</h4>
            <ul>
                <li>Helped design, develop, test, and bug fix the AngularJS single page web application, Metasys UI and the RESTful API backend written in .NET framework and SQL Server. The application allows users to manage a buildings HVAC, fire, security, and more using a smart phone, tablet, or computer.</li>
                <li>Helped manage an Atlassian Jira project management tool instance in an agile/scrum work environment.</li>
                <li>Worked on the WPF application, Graphic Generation Tool, which allows users to create interactive graphics for managing a buildings HVAC, fire, security, and more.</li>
            </ul>
            <ul class="skills-used">
                <li>C#</li>
                <li>SQL Server</li>
                <li>AngularJS</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Jira</li>
                <li>WPF</li>
            </ul>
        </div>
    </div>
</div>
<!-- End #experience -->

<div id="education">
    <h2 class="heading">Education</h2>
    <div class="education-block">
        <h3>Marquette University</h3>
        <span class="education-date">Sept 2011 - Sept 2015</span>
        <h4>Bachelor of Science in Computer Science</h4>
        <ul>
            <li>Took courses including: Data Structures and Algorithms 1 & 2, Hardware Systems, Operating Systems, Linear Algebra
                & Matrix Theory, Object Oriented Software Design, and Databases.</li>
            <li>Participated in the ACM computer programming contest sponsored by IBM.</li>
            <li>Completed a yearlong senior design project for Johnson Controls.</li>
        </ul>
    </div>
    <!-- End .education-block -->

</div>
<!-- End #education -->

<div id="projects" class="background-alt">
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">

            {% 
                include project.html 
                image="images/trentafit.png" 
                title="TrentaFit Mobile Application"
                dataTarget="#trentaFitModal"
                content="TrentaFit allows you to workout at anytime, anywhere, using calisthenics and aerobic exercises. Customize the exercises in your workout, the starting reps, the daily increment, and how often you want to rest. It can help you lose weight, improve health, increase and tone muscle at home, without a gym, in just 30 short days.
                " 
            %} 

            {% include project.html image="images/pebblesofhope.png"
            title="Pebbles of Hope Mobile Application" dataTarget="#pebblesofhopeModal" content="The Pebbles of Hope organization
            focuses on equipping parents and other caregivers with the information and resources they need to care for the
            smallest babies in regions with few medical facilities. The application was published to the Android Google Play
            Store and the iOS iTunes App Store. Through the application, caregivers of preemie babies can access videos and
            ask questions to Medical Professionals." %} 
            
            {% include project.html image="images/talipayments.png" title="Tali
            Payments Mobile Application" dataTarget="#taliPaymentsModal" content="Tali Payments is a cloud-based mobile payment
            platform for restaurants. It allows customers to view menus and order food from their phones and skip long queues
            at restaurants. It also allows businesses to increase revenue, expand their market, and easily manage customer
            transactions. A client application was developed and published to the Android Google Play Store and the iOS iTunes
            App Store. An iPad application was also developed for restaurant managers to manage and view orders." %} 
            
            {% include
            project.html image="images/steppingstonenutrition.png" title="Stepping Stone Nutrition" dataTarget="#steppingStoneNutritionModal"
            content="Stepping Stone Nutrition, LLC provides nutrition, lactation, and wellness counseling to both individuals
            and businesses in Wisconsin. The website allows users to view information about Stepping Stone Nutrition such
            as biographies of staff, pricing, and services. The website also allows users to directly contact Stepping Stone
            Nutrition." %} 
            
            {% include project.html image="images/soundsofthenight.png" title="Sounds of the Night" dataTarget="#soundsOfTheNightModal"
            content="Sounds of the Night provides professional DJ servicing for Weddings, Birthdays, and events in Milwaukee,
            Wisconsin. The website allows users to view information about Sounds of the Night such as biographies of staff,
            pricing, and services offered. The website also allows users to directly contact Sounds of the Night." %} 
            
            {%
            include project.html image="images/seniordesign.png" title="Senior Design - Test Site Management Tool" dataTarget="#seniorDesignModal"
            content="Test Site Management Tool helps software release managers schedule and survey customer site visits to
            test new software releases. The website allows managers to create and send online applications for new customer
            sites, add comments, view history and manage authorization of users on the website." %}

        </div>
    </div>
</div>
<!-- End #projects -->

<div id="contact">
    <h2>Get in Touch</h2>
    <div id="contact-form">
        <form method="POST" action="https://formspree.io/chris@christophergozdziewski.com">
            <input type="hidden" name="_subject" value="Contact request from personal website" />
            <input type="email" name="_replyto" placeholder="Your email" required>
            <textarea name="message" placeholder="Your message" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <!-- End #contact-form -->
</div>
<!-- End #contact -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 copyright">
                <p>
                    Copyright &copy; 2020 Christopher Gozdziewski
                </p>
            </div>
            <div class="col-sm-2 top">
                <span id="to-top">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </span>
            </div>
            <div class="col-sm-5 social">
                <ul>
                    <li>
                        <a href="https://github.com/chrisgozd" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/christophergozdziewski/" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->

{% include modals/trentafitModal.html %}

{% include modals/pebblesofhopeModal.html %}

{% include modals/talipaymentsModal.html %}

{% include modals/steppingstonenutritionModal.html %}

{% include modals/soundsofthenightModal.html %}

{% include modals/seniordesignModal.html %}

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.min.js"></script>