<!-- Start Senior Design Project Modal -->
<div class="modal fade" id="seniorDesignModal" tabindex="-1" role="dialog" aria-labelledby="seniorDesignModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="heading modal-title" id="seniorDesignModalLabel">Senior Design</h3>
            </div>
            <div class="modal-body">
                <ul class="links float-right">
                    <li>
                        <a href="mailto:chris@christophergozdziewski.com" target="_blank">
                            <i class="fa fa-link" aria-hidden="true"></i>Request code</a>
                    </li>
                </ul>
                <h4>AngularJS Website</h4>
                <ul>
                    <li>Single page application built using AngularJS.</li>
                    <li>Allows managers to create and send online applications for new customer sites, add comments, view history
                        and manage authorization.</li>
                    <li>Compatible with all major browsers as well as mobile devices.</li>
                    <li>Communicates with and smartly caches responses from the Web Api.</li>
                </ul>


                <ul class="skills-used">
                    <li>AngularJS</li>
                    <li>CSS</li>
                    <li>HTML</li>
                </ul>

                <ul class="links float-right">
                    <li>
                        <a href="mailto:chris@christophergozdziewski.com" target="_blank">
                            <i class="fa fa-link" aria-hidden="true"></i>Request code</a>
                    </li>
                </ul>
                <h4>Restful Web Api Server</h4>
                <ul>
                    <li>Smartly caches database responses to speed up response time.</li>
                    <li>Manages multiple user role authorizations with Active Directory.</li>
                    <li>Provides detailed history of database changes.</li>
                    <li>Provides thread-safe access for writing resources.</li>
                </ul>
                <ul class="skills-used">
                    <li>C#</li>
                    <li>SQL</li>
                </ul>

                <img src="images/seniordesign-banner.png" />
            </div>
        </div>
    </div>
</div>
<!-- End Senior Design Project Modal -->