<!-- Start Tali Payments Project Modal -->
<div class="modal fade" id="taliPaymentsModal" tabindex="-1" role="dialog" aria-labelledby="taliPaymentsModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="heading modal-title" id="taliPaymentsModalLabel">Tali Payments</h3>
            </div>
            <div class="modal-body">
                <ul class="links float-right">
                    <li>
                        <a href="mailto:chris@christophergozdziewski.com" target="_blank">
                            <i class="fa fa-link" aria-hidden="true"></i>Request code</a>
                    </li>
                </ul>
                <h4>Android app, iPad app, and Server</h4>
                <ul>
                    <li>Developed an Android version of the client application using Xamarin.Android which allows customers to
                        view full menu of local restaurants, order food, and pay using their phone.</li>
                    <li>Created automated invoices to send to restaurants.</li>
                    <li>Fixed bugs on the Tali Payments Restful Api Server which communicates between the restaurant management
                        app as well as the client iOS and Android apps.</li>
                    <li>Fixed bugs on the iPad restaurant order management application which allows restaurants to view, fill,
                        and manage food orders from customers.</li>
                </ul>

                <p>*Tali Payments was shut down in 2014, so the mobile app is no longer available on the iOS or Android stores.
                </p>

                <ul class="skills-used">
                    <li>C#</li>
                    <li>Xamarin.Android</li>
                    <li>Xamarin.iOS</li>
                </ul>

                <img src="images/talipayments-banner.png" />
            </div>
        </div>
    </div>
</div>
<!-- End Tali Payments Project Modal -->