<head>
    {% include analytics.html %}
    
    <!-- Styles -->
    {% capture styles %}{% include styles.scss %}{% endcapture %}

    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
          {{ styles | scssify }}
    </style>
  
  <!-- Loading double css on blog page -->
    {% if page.url contains "blog" %}
      <link rel="stylesheet" href="{{ "/blog/assets/main.css" | relative_url }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
    {% endif %}

    <title>{{site.title}}</title>

    <!-- {% if page.title == "Home" %}
          {{ site.title }}
        {% else %}
          {{ page.title }} &middot; {{ site.title }}
        {% endif %} -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo title=false %}
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  