<head>
    {% include analytics.html %}

    <!-- if main page -->
    {% unless page.url contains "blog" %}
      {% capture maincss %}{% include main.scss %}{% endcapture %}
      <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
      <link href="css/bootstrap.min.css" rel="stylesheet">

      <style>
            {{ maincss | scssify }}
      </style>
    {% endunless %}
  
    <!-- if blog -->
    {% if page.url contains "blog" %}
      {% capture blogcss %}{% include blog.scss %}{% endcapture %}
      <style>
          {{ blogcss | scssify }}
      </style>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
    {% endif %}

    <title>{{site.title}}</title>

    <!-- {% if page.title == "Home" %}
          {{ site.title }}
        {% else %}
          {{ page.title }} &middot; {{ site.title }}
        {% endif %} -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo title=false %}
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  