body {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1 {
	margin: 0;
}

.container {
	max-width: 1000px;
	margin: 15px auto;
}

.wrapper-masthead{
	margin-bottom: 0;
}

.date {
	font-size: 13px;
	margin-bottom: 1em;
}

.post .read-more {
	text-transform: none;
	font-size: 16px;
}

h3 {
	font-size: 23px;
	margin: 0;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}