/*
    ---------------------------
    ----- 5. About Styles -----
    ---------------------------
*/

#about {
    padding: 75px 15px;
    border-bottom: 1px solid $border;
    color: $text;
    h2 {
        color: $heading;
    }
    p {
        margin: 0;
    }
}